.App {
  text-align: center;
}

@font-face {
  font-family: RussoOne;
  src: url("./RussoOne-Regular.ttf");
}

@font-face {
  font-family: Orbitron;
  src: url("./Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: Teko;
  src: url("./Teko-Light.ttf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-background {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: top;
}

.navbar {
  box-shadow: 0px 5px 10px black;
  font-family: Orbitron;
  font-size: 50px;
  color: #94eb5b;
}

.App-text-input {
  color: #cce6eb;
  font-size: 25px;
  background-color: #141414;
  border-color: #94eb5b;
  font-family: Teko;
}

.App-dropdown {
  color: #cce6eb;
  font-size: 25px;
  background-color: #141414;
  border-color: #94eb5b;
  font-family:Teko;
}

.App-button {
  margin-left: 25px;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #94eb5b;
  color: #141414;
  font-size: 25px;
  font-family: Teko;
  border-radius: 5px;

}

.App-checkbox {
  width: 20px;
  height: 20px;
  background-color: #141414;
  border-color:#94eb5b;
  color:#94eb5b;
}

.header {
  left: 0;
  top: 0;
  position: sticky;
  margin-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family:Teko;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: #94eb5b;
}